<html> 
    <head>
        <link rel="stylesheet" href="/managers.css">
    </head> 
<body>
  <p>{{manager.name}}</p>
    <br><br><br><br><br>
</body> 
<footer>CREATED BY TILDA</footer>
</html>