<html> 
    <head>
        <link rel="stylesheet" href="/pilots.css">
    </head> 
<body>
  <p>{{pilot.name}}</p> 
  <br><br><br> <br><br>
  </body> 
<footer>CREATED BY TILDA</footer>
</html>